# Bienvenido a Python
## Lección 1. Python básico. Variables, cadenas, operadores.

In [50]:
a = 1
print(a)

1

In [51]:
b = '2'
print(b)

2

In [52]:
print( type(a), type(b))

<class 'int'> <class 'str'>

In [53]:
print('%s %i %.2f' %('aabc', 1, 2.4534634))

aabc 1 2.45

In [56]:
print('{0} {0} {0} {1}'.format('hi', 'hola'))

hi hi hi hola

In [57]:
print(f'a = {a} -> type: {type(a)}\nb = {b} -> type: {type(b)}')

a = 1 -> type: <class 'int'>
b = 2 -> type: <class 'str'>

In [58]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
a + int(b)

3

In [60]:
str(a) + b

'12'

In [71]:
print('hola mundo')
print("hola mundo")
print('"hola mundo"')
print("'hola mundo'")
print('\"hola mundo\"')
print('''hola
mundo


''')
print("""hola
mundo""")
print(f'''hola mundo 
{a}''')

hola mundo
hola mundo
"hola mundo"
'hola mundo'
"hola mundo"
hola
mundo



hola
mundo
hola mundo
1

In [90]:
print(42000000)
print(42_000_000)
print(42_000_000.55555)
print(4_2_000000.55555)

x = 100
print(x)

x = 'hola mundo'
print(x)

42000000
42000000
42000000.55555
42000000.55555
100
hola mundo

In [103]:
print(len(x))
print(x[0])
print(x[0:1])
print(x[0:4])
print(x[-1])
print(x[:-5])
print(x[-5:])

print(x[0:10:2])

10
h
h
hola
o
hola
mundo
hl ud

In [116]:
listado = [0,1,2,3,'hola mundo', 2.54523]

print(listado)
print(listado[:-1])
print(listado[4][0:4])

[0, 1, 2, 3, 'hola mundo', 2.54523]
[0, 1, 2, 3, 'hola mundo']
hola

In [128]:
tupla = {'nombre': 'Marco', 'apellido': 'Polo', 'hijos':['Fantina', 'Bellela', 'Moretta'], 'viajes':[{'lugar': 'Venecia', 'año': 1271}, {'lugar': 'Cathay ', 'año': 1274}]}

tupla

{'nombre': 'Marco',
 'apellido': 'Polo',
 'hijos': ['Fantina', 'Bellela', 'Moretta'],
 'viajes': [{'lugar': 'Venecia', 'año': 1271},
  {'lugar': 'Cathay ', 'año': 1274}]}

In [131]:
tupla['hijos']

['Fantina', 'Bellela', 'Moretta']

In [135]:
tupla['viajes'][0]['lugar']

'Venecia'

In [156]:
5+2

7

In [157]:
5*2

10

In [158]:
5**2

25

In [159]:
5/2

2.5

In [160]:
5//2

2

In [161]:
5%2

1

In [162]:
int(2.99999)

2

In [169]:
round(2.9999)

3

In [179]:
x = 2.12345
round(x, 1)

2.12345

In [170]:
import math

In [171]:
math.floor(2.99)

2

In [172]:
math.ceil(2.99)

3

In [175]:
nombre = input('escribe tu nombre: ')

nombre

escribe tu nombre: ohla

'ohla'

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
arr = ['a', 'b', 'c']
for i in range(len(arr)):
    print( arr[i])

a
b
c

In [8]:
for i in arr:
    print(i)

a
b
c

In [9]:
if 1==1:
    print('1 es igual a 1')

1 es igual a 1

In [10]:
if 1==1 and 2==2:
    print('1 es 1 y 2 es 2')

1 es 1 y 2 es 2

In [11]:
if 1!=1 or 2==2:
    print('condicion or')

condicion or

In [24]:
productos = [{'nombre': 'jabon', 'precio': 7000.99}, {'nombre': 'zanahoria', 'precio': '4000'}]

precioTotal = 0
for p in productos:
    precioTotal += round(float(p['precio']))
    
precioTotal

11001