In [29]:
productos = [{'nombre': 'jabon', 'precio': 7000.99}, {'nombre': 'zanahoria', 'precio': '4000'}]

#suma de precios redondeados

len(productos)
productos[0]['precio']
suma = 0
for i in range(len(productos)):
       suma =  suma + float(productos[i]['precio'])

print(round(suma))

Mayor=0
for i in range(len(productos)):
       if(float(productos[i]['precio']) > Mayor):
           Mayor = float(productos[i]['precio'])
       

print(round(Mayor))

11001
7001

In [71]:
# Manejo de Archivos

archivo = '.\\data.txt'
f = open(archivo,'r')

In [59]:
print(f.read())
f.close() ## Cerrar el archivo

Hola Mundo

In [79]:
with open(archivo,'r') as x:
    print(x.read())

Hola Mundo

In [84]:
with open(archivo,'r') as f:
    for linea in f.readline():
        print(linea)

H
o
l
a

M
u
n
d
o

In [92]:
import pandas as pd

df = pd.read_csv('.\\trees.csv',index_col='Index')

print(df)

       Girth (in)  Height (ft)  Volume(ft^3)
Index
1             8.3           70          10.3
2             8.6           65          10.3
3             8.8           63          10.2
4            10.5           72          16.4
5            10.7           81          18.8
6            10.8           83          19.7
7            11.0           66          15.6
8            11.0           75          18.2
9            11.1           80          22.6
10           11.2           75          19.9
11           11.3           79          24.2
12           11.4           76          21.0
13           11.4           76          21.4
14           11.7           69          21.3
15           12.0           75          19.1
16           12.9           74          22.2
17           12.9           85          33.8
18           13.3           86          27.4
19           13.7           71          25.7
20           13.8           64          24.9
21           14.0           78          34.5
22           14.2           80          31.7
23           14.5           74          36.3
24           16.0           72          38.3
25           16.3           77          42.6
26           17.3           81          55.4
27           17.5           82          55.7
28           17.9           80          58.3
29           18.0           80          51.5
30           18.0           80          51.0
31           20.6           87          77.0

In [93]:
print(df.head())

       Girth (in)  Height (ft)  Volume(ft^3)
Index
1             8.3           70          10.3
2             8.6           65          10.3
3             8.8           63          10.2
4            10.5           72          16.4
5            10.7           81          18.8

In [94]:
print(df.head(3))

       Girth (in)  Height (ft)  Volume(ft^3)
Index
1             8.3           70          10.3
2             8.6           65          10.3
3             8.8           63          10.2

In [99]:
df.size

93

In [98]:
len(df) # cantidad de registros

31

In [96]:
df[0:10]

       Girth (in)  Height (ft)  Volume(ft^3)
Index
1             8.3           70          10.3
2             8.6           65          10.3
3             8.8           63          10.2
4            10.5           72          16.4
5            10.7           81          18.8
6            10.8           83          19.7
7            11.0           66          15.6
8            11.0           75          18.2
9            11.1           80          22.6
10           11.2           75          19.9

In [100]:
df[df['Height (ft)'] > 80]

       Girth (in)  Height (ft)  Volume(ft^3)
Index
5            10.7           81          18.8
6            10.8           83          19.7
17           12.9           85          33.8
18           13.3           86          27.4
26           17.3           81          55.4
27           17.5           82          55.7
31           20.6           87          77.0

In [101]:
mask = (df['Height (ft)'] > 80) & (df['Girth (in)'] >15)
df[mask]

       Girth (in)  Height (ft)  Volume(ft^3)
Index
26           17.3           81          55.4
27           17.5           82          55.7
31           20.6           87          77.0

In [103]:
df2 = df[mask]
df2.to_csv('archivo_filtrado.csv')

In [105]:
df2.to_excel('archivo_filtrado.xlsx')

In [106]:
df.describe()

       Girth (in)  Height (ft)  Volume(ft^3)
count   31.000000    31.000000     31.000000
mean    13.248387    76.000000     30.170968
std      3.138139     6.371813     16.437846
min      8.300000    63.000000     10.200000
25%     11.050000    72.000000     19.400000
50%     12.900000    76.000000     24.200000
75%     15.250000    80.000000     37.300000
max     20.600000    87.000000     77.000000

In [107]:
df['Height (m)'] = df['Height (ft)'] / 3.281

In [108]:
df

       Girth (in)  Height (ft)  Volume(ft^3)  Height (m)
Index
1             8.3           70          10.3   21.334959
2             8.6           65          10.3   19.811033
3             8.8           63          10.2   19.201463
4            10.5           72          16.4   21.944529
5            10.7           81          18.8   24.687595
6            10.8           83          19.7   25.297165
7            11.0           66          15.6   20.115818
8            11.0           75          18.2   22.858884
9            11.1           80          22.6   24.382810
10           11.2           75          19.9   22.858884
11           11.3           79          24.2   24.078025
12           11.4           76          21.0   23.163670
13           11.4           76          21.4   23.163670
14           11.7           69          21.3   21.030174
15           12.0           75          19.1   22.858884
16           12.9           74          22.2   22.554099
17           12.9           85          33.8   25.906736
18           13.3           86          27.4   26.211521
19           13.7           71          25.7   21.639744
20           13.8           64          24.9   19.506248
21           14.0           78          34.5   23.773240
22           14.2           80          31.7   24.382810
23           14.5           74          36.3   22.554099
24           16.0           72          38.3   21.944529
25           16.3           77          42.6   23.468455
26           17.3           81          55.4   24.687595
27           17.5           82          55.7   24.992380
28           17.9           80          58.3   24.382810
29           18.0           80          51.5   24.382810
30           18.0           80          51.0   24.382810
31           20.6           87          77.0   26.516306

In [114]:
def classifier(values):
    measure = values['Girth (in)']
    if measure >15:
       return 'grande'
    elif measure > 10:
        return 'medio'
    else:
        return 'chico'

df['category'] = df.apply(classifier, axis=1)

df

       Girth (in)  Height (ft)  Volume(ft^3)  Height (m) category
Index
1             8.3           70          10.3   21.334959    chico
2             8.6           65          10.3   19.811033    chico
3             8.8           63          10.2   19.201463    chico
4            10.5           72          16.4   21.944529    medio
5            10.7           81          18.8   24.687595    medio
6            10.8           83          19.7   25.297165    medio
7            11.0           66          15.6   20.115818    medio
8            11.0           75          18.2   22.858884    medio
9            11.1           80          22.6   24.382810    medio
10           11.2           75          19.9   22.858884    medio
11           11.3           79          24.2   24.078025    medio
12           11.4           76          21.0   23.163670    medio
13           11.4           76          21.4   23.163670    medio
14           11.7           69          21.3   21.030174    medio
15           12.0           75          19.1   22.858884    medio
16           12.9           74          22.2   22.554099    medio
17           12.9           85          33.8   25.906736    medio
18           13.3           86          27.4   26.211521    medio
19           13.7           71          25.7   21.639744    medio
20           13.8           64          24.9   19.506248    medio
21           14.0           78          34.5   23.773240    medio
22           14.2           80          31.7   24.382810    medio
23           14.5           74          36.3   22.554099    medio
24           16.0           72          38.3   21.944529   grande
25           16.3           77          42.6   23.468455   grande
26           17.3           81          55.4   24.687595   grande
27           17.5           82          55.7   24.992380   grande
28           17.9           80          58.3   24.382810   grande
29           18.0           80          51.5   24.382810   grande
30           18.0           80          51.0   24.382810   grande
31           20.6           87          77.0   26.516306   grande

In [115]:
df.groupby('category').mean()

          Girth (in)  Height (ft)  Volume(ft^3)  Height (m)
category
chico       8.566667       66.000     10.266667   20.115818
grande     17.700000       79.875     53.725000   24.344712
medio      12.170000       75.950     23.735000   23.148430

In [117]:
import numpy as np
df.groupby(['category']).agg({'Height (ft)': sum, 'Girth (in)': 'mean', 'Height (m)': np.sum})

          Height (ft)  Girth (in)  Height (m)
category
chico             198    8.566667   60.347455
grande            639   17.700000  194.757696
medio            1519   12.170000  462.968607

In [138]:
import pandas as pd



df3 = pd.read_csv('.\\titanic.csv', index_col='PassengerId')

print(df3.groupby(['Sex']).sum())
print(df3.groupby(['Sex']).mean())

        Survived  Pclass       Age  SibSp  Parch        Fare
Sex
female       233     678   7286.00    218    204  13966.6628
male         109    1379  13919.17    248    136  14727.2865
        Survived    Pclass        Age     SibSp     Parch       Fare
Sex
female  0.742038  2.159236  27.915709  0.694268  0.649682  44.479818
male    0.188908  2.389948  30.726645  0.429809  0.235702  25.523893

In [145]:
def classifier2(values):
    measure = values['Age']
    if measure >41:
       return 'grande'
    elif measure > 19:
        return 'medio'
    else:
        return 'chico'

df3['rango'] = df3.apply(classifier2, axis=1)
df3['contador'] = 1

In [151]:

dfaux = df3.groupby(['rango']).sum()
print(dfaux)
dfaux['porcentaje'] = round(dfaux['Survived'] /dfaux['contador'] *100,2)
print(dfaux)

        Survived  Pclass       Age  SibSp  Parch        Fare  contador
rango
chico        131     875   1964.67    283    167   9136.4039       341
grande        53     243   7333.00     46     46   6073.3587       142
medio        158     939  11907.50    137    127  13484.1867       408
        Survived  Pclass       Age  SibSp  Parch        Fare  contador  \
rango
chico        131     875   1964.67    283    167   9136.4039       341
grande        53     243   7333.00     46     46   6073.3587       142
medio        158     939  11907.50    137    127  13484.1867       408

        porcentaje
rango
chico        38.42
grande       37.32
medio        38.73